body .dark {
  --primary-color: #EA7C69;
  --secondary-color: #9288E0;
  --white-color: #FFFFFF;
  --text-dark: #3B5162;
  --text-gray: #889898;
  --text-light: #ABBBC2;
  --text-lighter: #E0E6E9;
  --bg: #FAFAFA;
  --bg-line: #393C49;
  --bg-dark-1: #252836;
  --bg-dark-2: #1F1D2B;
  --bg-form: #2D303E;
  --green-color: #50D1AA;
  --red-color: #FF7CA3;
  --orange-color: #FFB572;
  --blue-color: #65B0F6;
  --purple-color: #9290FE;
}

body .container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-dark-1);
}

.title-color {
  color: var(--white-color) !important;
}

.sub-title-color {
  color: var(--text-light);
}

svg {
  fill: var(--primary-color);
}

.btn-submit {
  background-color: var(--primary-color);
}

/* ANT SELECT */
.ant-select-selector {
  background-color: var(--bg-form) !important;
  color: var(--white-color) !important;
}

.ant-select-selection-placeholder {
  color: var(--text-gray) !important;
}

.ant-select-selection-search-input {
  color: var(--white-color);
}
.ant-select-selection-item {
  color: var(--white-color) !important;
}

.ant-select-dropdown {
  background-color: #2D303E !important;
}

.ant-select-dropdown * {
  color: #FFFFFF !important;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: #EA7C69;
}
/* ANT SELECT */