.login {
  min-height: 100vh;

  &-form {
    width: 380px;
    max-width: 320px;
    border: 1px solid var(--bg-line);
    background-color: var(--bg-dark-2);
    padding: 30px 24px 12px;
    border-radius: 5px;
  }

  @media (min-width: 425px) {
    &-form {
      max-width: unset;
    }
  }
}