.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-1 {
  flex-grow: 1;
  /* flex-basis: 100px; */
  background-color: red;
}

.item-2 {
  flex-grow: 2;
  /* flex-basis: 200px; */
  background-color: rgb(83, 67, 67);
}

.item-3 {
  flex-grow: 1;
  /* flex-basis: 300px; */
  background-color: bisque;
}

.container {
}